Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^api/1.0/?$ ./apps/apidoc/index.html
RewriteRule ^api/1.0/news(.*)$ ./apps/news/news.php?params=$1
RewriteRule ^api/1.0/releases(.*)$ ./apps/releases/releases.php?params=$1
