Options +FollowSymLinks -Indexes
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# Documentation
RewriteRule ^api/1.0/?$ ./apps/apidoc/index.html

# News
RewriteRule ^api/1.0/news(.*)$ ./apps/news/news.php?params=$1

# Releases
RewriteRule ^api/1.0/releases(.*)/categories$ ./apps/releases/categories/categories.php?params=$1
RewriteRule ^api/1.0/releases(.*)/formats$ ./apps/releases/formats/formats.php?params=$1
RewriteRule ^api/1.0/releases(.*)/people$ ./apps/releases/people/people.php?params=$1
RewriteRule ^api/1.0/releases(.*)/songs$ ./apps/releases/songs/songs.php?params=$1
RewriteRule ^api/1.0/releases(.*)$ ./apps/releases/releases.php?params=$1

# Songs (this is related to all songs, not release-specific)
RewriteRule ^api/1.0/songs(.*)$ ./apps/songs/songs.php?params=$1

# Shows
RewriteRule ^api/1.0/shows(.*)$ ./apps/shows/shows.php?params=$1

# People
RewriteRule ^api/1.0/people(.*)$ ./apps/people/people.php?params=$1

# Biography
RewriteRule ^api/1.0/biography(.*)$ ./apps/biography/biography.php?params=$1

# Videos
RewriteRule ^api/1.0/videos(.*)$ ./apps/videos/videos.php?params=$1

# Shop
RewriteRule ^api/1.0/shop(.*)$ ./apps/shop/shop.php?params=$1 [QSA]

# GZIP handling
<ifModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
    mod_gzip_item_inclaude mime ^text/.*
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_include mime ^application/json*
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>
